body {
    margin: 0;
    scrollbar-width: 0;
    overflow: hidden;
    box-sizing: content-box;
    position: relative;
}

* {
        box-sizing: border-box;
}

#displayText {
    position:absolute;
    right:1%;
    top:2%;
    padding: 15px;
    background-color: rgba(71, 68, 68, 0.385);
    color: rgb(234, 234, 252);
    font-weight: bolder;
    font-family: monospace;
    font-size: 1.5rem;
    border-radius: 18px;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0a0a0a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    color: white;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid rgba(255, 255, 255, 0.2);
    border-top: 6px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
    scale: 1.25;
}

.loading-text {
    margin-top: 1rem;
    font-size: 20px;
    letter-spacing: 2px;
    color: #eeeeee;
    font-family: monospace;
    font-weight: bold;
    scale: 1.15;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}