html, head, body {
    margin: 0;
    padding: 25px;
    background-color: #2a2a2a;
    font-family: monospace;
}

#webgl {
    width: 70vw;
    height: 1000px;
    background-color: #5b5b5b;
    image-rendering: crisp-edges;
    padding: 10px;
    border-radius: 15px;
}


#error-box {
    color: #fd8080;
    font-weight: 500;
    font-size: 18pt;
    border: 1px solid white;
    padding: 25px;
    margin-top: 20px;
  }

  .error-box-title {
    color: #eee;
    border-bottom: 1px solid gray;
  }

  #settings-box {
    position: absolute;
    left: 75.5vw;
    bottom: 15vh;
    color: #fd8080;
    font-weight: 500;
    font-size: 18pt;
    border: 1px solid white;
    padding: 25px;
    height: 77vh;
    width: 18.3vw;
    margin-top: 20px;
  }

  .settings-box-title {
    color: #eee;
    border-bottom: 1px solid gray;
  }

  h1 {
    position: absolute;
    left: 3.5vw;
    bottom: 95.2vh;
    font-size: 2.3em;
    font-weight: bolder;
    color: whitesmoke;
    border-bottom: 1px solid gray;
  }